
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>我是3000端口下的html</h1>
    <button>点击我请求3000端口数据</button>
    <script>
        let btn = document.querySelector("button");
        btn.onclick = function(){
            let xhr = new XMLHttpRequest();
            xhr.open("get","/get");
            xhr.onload = function(){
                if(xhr.status===200){
                    console.log(xhr.responseText)
                }
            }
            xhr.send();
        }


    </script>
</body>
</html>