<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./axios.min.js"></script>
</head>
<body>
    <h1>3000端口运行的html</h1>
    <button>发送ajax请求</button>
    <script>
        let btn = document.querySelector("button");
        btn.onclick = async function(){
            let {data} = await axios.get("/get");
            console.log(data);
        }

    </script>
</body>
</html>