<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./socket.io.js"></script>
    <style>
        /* div{
            position: absolute;
        } */
    </style>
</head>

<body>
    <h1>弹幕</h1>
    输入内容 ： <input type="text" name="" id="myinput"> <button>发送</button>
    <script>
        let myinputEle = document.querySelector("#myinput");
        let btn = document.querySelector("button");

        // 通过 socketio 建立连接 
        let socket = io.connect();

        let sendDiv;
        socket.on("sendval",val=>{
            console.log("输入的val值是",val);
            sendDiv = document.createElement("div");
            sendDiv.innerHTML = val;
            sendDiv.style.position = "absolute";
            sendDiv.style.left = "0px";
            sendDiv.style.top = "0px";
            document.body.appendChild(sendDiv);
        })



        // 监听 发送过来的事件 
        socket.on("senddis", data => {
            console.log("广播过来的数据是", data);
            // 改变 div的位置 ；不能重复生成div
            let {leftNum} = data;
            sendDiv.style.left = leftNum + "px";
            if (leftNum > window.innerWidth) {
                sendDiv.remove();
            }
        })




        btn.onclick = function () {
            let val = myinputEle.value;
            let divEle = document.createElement("div");
            divEle.innerHTML = val;
            divEle.style.position = "absolute";
            divEle.style.left = "0px";
            divEle.style.top = "0px";
            document.body.appendChild(divEle);
            socket.emit("sendval",val);



            // 利用定时器 让 div 动起来 
            var timer = setInterval(() => {
                let leftNum = parseInt(divEle.style.left);
                divEle.style.left = leftNum + 5 + "px"
                socket.emit("dis", { leftNum });

                if (leftNum > window.innerWidth) {
                    clearInterval(timer);
                    divEle.remove();
                }
            }, 20);

        }



       
    </script>
</body>

</html>