<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>主页<%=title %>
    </h1>

    <ul>
        <% users.forEach(item=>{ %>
            <li>用户名是<%=item.name %> 年龄是<%=item.age %></li>
        <% }) %>

    </ul>


    <script>


    </script>
</body>

</html>